.grade-form-container {
    margin: 20px auto; /* Center the form */
    width: 80%; /* Adjust the width as needed */
  }
  
  .grade-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .grade-table th, .grade-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .grade-table th {
    background-color: #f2f2f2;
  }
  
  .button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .button_style{
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 30px;
  }