.App {
  /* text-align: center; */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.Topbar{
  /* background-color: #161616; */
  background: #0075cb;
  display: flex;
  justify-content: space-between;
  align-items: top;
  /* min-height: 100vh; */
  padding: 0 20px;

} 

.Title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
}

.icon-button {
  background-color: transparent;
  border: none;
  padding: 2;
}

/* Optional: Add styles for when the button is hovered or focused */
.icon-button:hover,
.icon-button:focus {
  outline: none; /* Remove the default focus outline */
  /* Add any additional styles for the hover or focus state */
}

/*###########################################*/

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
